/* nav related style */

body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 0;
    padding: 15px 35px;
}

/* header related style */


.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 500px;
}

.profile-pic {
    width: 584px;
    height: 676px;

}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* Main Section */

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}


/* about section */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}